* {
    box-sizing: border-box;
}

/*--------------- Fontface ---------------*/

@font-face {
    font-family: poppinsR;
    src: url(../fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppinsL;
    src: url(../fonts/poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: poppinsXB;
    src: url(../fonts/poppins/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: poppinsSB;
    src: url(../fonts/poppins/Poppins-SemiBold.ttf);
}

/*--------------- BASIC ---------------*/

body, html {
    color: #606060;
    font-family: poppinsR, sans-serif;
    font-size: 1rem;
    background-color: #22252c;
    height: 100%;
    width: 100%;
    margin: 0;
}

a, button {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

img {
    width: 100%;
}

/*--------------- MAIN ---------------*/

/*--------------- header area ---------------*/

.main-header {
    max-width: 1257PX;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 78.562rem;
    background-color: #fff;
    text-align: center;
    height: 4.562rem;
    border-radius: 2.31rem;
    background-color: #5970c1;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.375em;
}

.main-header .main-logo {
    margin-left: 5rem;
}

.main-header .main-nav {
    max-width: 31.25rem;
    margin-right: 15.437rem;
}

.main-header .main-nav li {
    font-size: 21px;
    padding: 0px 21px 0px 21px;
    margin-left: 31.5px;
}

.main-header .main-nav li:hover {
    color: #21ac91;
    background-color: #fefefe;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

/*--------------- main-content ---------------*/

.main-content {
    flex-direction: column;
    margin: 0 auto;
    max-width: 77.687rem;
    padding: 25px 32px 32px 32px;
    border-radius: 10px;
    background-color: #383b42;
}

.gallery-search {
    margin-bottom: 45px;
}

.gallery-search .search {
    position: relative;
    width: 541px;
    height: 58px;
    border-radius: 29px;
    border: none;
    outline: none;
    padding: 20px 26px 20px 50px;
    font-family: poppinsL, sans-serif;
    font-size: 1.3rem;
    color: #fff;
    background-color: #22252c;
}

.gallery-search .search-icon {
    position: relative;
    z-index: 2;
    left: -55px;
    height: 30px;
    width: 30px;
}

.gallery-search .tags {
    width: 500px;
    height: 58px;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 29px;
    background-color: #fefefe;
    opacity: 0.4;
}

.gallery-search .more {
    cursor: pointer;
    width: 92px;
    height: 36px;
    font-size: 18px;
    font-family: poppinsL, sans-serif;
    color: #fefefe;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border: none;
    outline: none;
    border-radius: 18px;
    background-color: #fefefe;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
}

/*--------------- grid area ---------------*/

.gallery-grid {
    display: grid;
    width: 100%;
    grid-gap: 29px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    justify-content: center;
    margin: 0 auto;
}

.gallery-img img {
    border-radius: 10px;
    position: relative;
    width: 200px;
    height: 173px;
    object-fit: cover;
}

.gallery-img img:hover {
    cursor: pointer;
    box-shadow: 0px 1px 10px #fffffe;
    transition: box-shadow 0.3s;
}

/*--------------- footer ---------------*/

.main-footer {
    flex-direction: column;
    max-width: 100%;
    height: 100px;
}

.footer-social {
    width: 200px;
    flex-direction: row;
    justify-content: space-around;
}

.footer-social .social i {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 3px;
    font-size: 30px;
    background-color: #fefefe;
    opacity: 0.4;
}

/*--------------- MEME EDITOR ---------------*/

.editor-container {
    /* width: 1000px; */
    margin-top: 100px;
    border-radius: 30px;
    background-color: rgba(235, 238, 243, 0.11);
}

.canvas-container {
    background-color: white;
}

.control-container {
    flex-direction: column;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: repeat(5, 1fr);
    gap: 2rem;
}

.features-panel {
    width: 445px;
    padding: 11px;
    border-radius: 15px;
    background-color: #19a59f;
}

#user-text {
    grid-column: 1 / 6;
    grid-row: 1 / 1;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    width: 445px;
    height: 57px;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    border-radius: 28px;
    background-color: #ebeef3;
    border: none;
    outline: none;
}

.features-panel button {
    width: 55px;
    height: 51px;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ffffff;
    background-color: #ffffff;
    border: none;
    outline: none;
}

.control-container .icon1 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

.control-container .icon2 {
    grid-column: span 1;
    grid-row: span 1;
}

.control-container .icon3 {
    grid-column: span 1;
    grid-row: span 1;
}

.control-container .icon4 {
    grid-column: span 1;
    grid-row: span 1;
}

.control-container .icon5 {
    grid-column: span 1;
    grid-row: span 1;
}

.editor-container .control-container img {
    width: 1.25rem;
    height: 1.25rem;
}

/*--------------- HELPERS ---------------*/

/*--------------- flex helpers ---------------*/

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*--------------- list-helpers ---------------*/

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*--------------- MEDIA QUERIES ---------------*/

/* @media (max-width: 300px) {
} */

/* @media (min-width: 490px) {
} */

/* @media (min-width: 555px) {
}  */

/* @media (min-width: 630px) {
}  */

/* @media (min-width: 780px) {
} */

/* @media (min-width: 1000px) {
}  */