* {
    box-sizing: border-box;
}


/*--------------- BASIC ---------------*/

body, html {
    overflow-x: hidden;
    color: #606060;
    font-family: poppinsR, sans-serif;
    font-size: 1rem;
    background-color: #22252c;
    height: 100%;
    max-width: 100%;
    margin: 0;
}

a, button {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

img {
    width: 100%;
}

.hide {
    display: none;
}

main {
    display: block;
}

.editor-content {
    display: none;
}

/*--------------- MAIN ---------------*/

/*--------------- header area ---------------*/

.main-header {
    /* max-width: 1257PX; */
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 78.562rem;
    background-color: #fff;
    text-align: center;
    height: 4.562rem;
    border-radius: 2.31rem;
    background-color: #5970c1;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.375em;
}

.main-header .main-logo {
    margin-left: 5rem;
}

.main-header .main-nav {
    max-width: 31.25rem;
    margin-right: 10rem;
}

.main-header .main-nav li {
    font-size: 1.3125rem;
    padding: 0px 21px 0px 21px;
    margin-left: 31.5px;
}

.main-header .main-nav li:hover {
    color: #21ac91;
    background-color: #fefefe;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.main-header .hamburger-menu {
    display: none;
}

.main-header button {
    font-size: 1.5em;
    margin-right: 3em;
    background-color: transparent;
    outline: none;
    border: none;
}

/*--------------- main-content ---------------*/

.main-content {
    flex-direction: column;
    margin: 0 auto;
    max-width: 77.687rem;
    padding: 25px 32px 32px 32px;
    border-radius: 10px;
    background-color: #383b42;
    margin-bottom: 40px;
}

.gallery-search {
    margin-bottom: 45px;
}

.gallery-search .search {
    position: relative;
    width: 541px;
    height: 58px;
    border-radius: 29px;
    border: none;
    outline: none;
    padding: 20px 26px 20px 50px;
    font-family: poppinsL, sans-serif;
    font-size: 1.3rem;
    color: #fff;
    background-color: #22252c;
}

.gallery-search .search-icon {
    position: relative;
    z-index: 2;
    /* display: none; */
    left: -55px;
    height: 30px;
    width: 30px;
}

.gallery-search .tags {
    padding: 12px;
    font-size: 25px;
    text-align: center;
    width: 500px;
    height: 58px;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 29px;
    background-color: #fefefe;
    opacity: 0.4;
}
.gallery-search .tags span{
    font-size: 18px;
}

.gallery-search .more {
    cursor: pointer;
    width: 92px;
    height: 36px;
    font-size: 18px;
    font-family: poppinsL, sans-serif;
    color: #fefefe;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border: none;
    outline: none;
    border-radius: 18px;
    background-color: #fefefe;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
}

/*--------------- grid area ---------------*/

.gallery-grid {
    display: grid;
    width: 100%;
    grid-gap: 29px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    justify-content: center;
    margin: 0 auto;
}

.gallery-img img {
    border-radius: 10px;
    position: relative;
    width: 200px;
    height: 173px;
    object-fit: cover;
}

.gallery-img img:hover {
    cursor: pointer;
    box-shadow: 0px 1px 10px #fffffe;
    transition: box-shadow 0.3s;
}

/*--------------- footer ---------------*/

.main-footer {
    flex-direction: column;
    max-width: 100%;
    height: 100px;
    margin-bottom: 30px;
}

.footer-social {
    width: 200px;
    flex-direction: row;
    justify-content: space-around;
}

.footer-social .social i {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 3px;
    font-size: 30px;
    background-color: #fefefe;
    opacity: 0.4;
}

/*--------------- MEME EDITOR ---------------*/

.editor-container {
    flex-wrap: wrap;
    height: 700px;
    gap: 90px;
    display: none;
}

#canvas {
    /* height: 500px; */
    width: 100%;
    border: 6px solid rgba(235, 238, 243, 0.09);
    border-radius: 30px;
    /* display: block; */
}

.editor {
    flex-direction: column;
    width: 32.8125em;
    height: 31.25em;
    border-radius: 30px;
    padding: 24px 40px;
    background-color: rgba(235, 238, 243, 0.11);
}

.btn-exit-text {
    margin-bottom: 20px;
}

#user-text {
    padding: 0.625rem;
    font-size: 1.5625rem;
    text-align: center;
    max-width: 27.8125rem;
    height: 3.5625rem;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    border-radius: 1.75rem;
    background-color: #ebeef3;
    border: none;
    outline: none;
    margin-bottom: 1.5625rem;
}

input .focus-text {
    background-color: red;
}

.title-controller {
    margin-bottom: 25px;
    width: 214px;
}

.title-controller button {
    width: 58px;
    height: 53px;
    border-radius: 10px;
    background-color: #ebeef3;
    border: none;
    outline: none;
}

.title-controller .switch-line {
    background: url(../icons/upDownArrow.png) no-repeat center, linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
    box-shadow: 1px 5px 0 #048b97, inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.title-controller .btn-add-sentence {
    box-shadow: 1px 5px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background: url(../icons/add.png) no-repeat center, linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
}

.title-controller .btn-delete-line {
    box-shadow: 1px 5px 0 #8c0606, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background: url(../icons/delete.png) no-repeat center, linear-gradient(-38deg, #cf1d37 0%, #cf1d37 1%, #f05036 100%);
}

.title-controller button:hover {
    border: 2px solid #2a2a2a;
    box-shadow: 1px 5px 0 #e9e9e96c, inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.title-controller button:active {
    box-shadow: 1px 5px 0 #2a2a2a, inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.grid-font-editor button {
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 0.625em;
    background-color: #ffffff;
    border: none;
    outline: none;
}

.grid-font-editor button:hover {
    border: 2px solid #2a2a2a;
    box-shadow: 1px 5px 0 #e9e9e96c, inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.grid-font-editor button:active {
    box-shadow: 1px 5px 0 #2a2a2a, inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.grid-font-editor {
    display: grid;
    max-width: 27.8125rem;
    height: 9.4375rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2.125em 1.1875em;
    grid-template-areas: 'up down left center right' 'font font font outline color';
    color: antiquewhite;
    border-radius: 15px;
    background-color: #19a59f;
    padding: 0.6875rem 1rem;
    margin-bottom: 22px;
}

.line-up {
    background: url(../icons/upArrow.png) no-repeat center;
    grid-area: up;
}

.line-down {
    background: url(../icons/dounArrow.png) no-repeat center;
    grid-area: down;
}

.btn-align-left {
    background: url(../icons/left.png) no-repeat center;
    grid-area: left;
}

.btn-align-center {
    background: url(../icons/center.png) no-repeat center;
    grid-area: center;
}

.btn-align-right {
    background: url(../icons/right.png) no-repeat center;
    grid-area: right;
}

.select-font {
    grid-area: font;
    /* height: 3.4375em; */
    border: none;
    padding: 5px 30px;
    font-size: 1.28em;
    text-transform: uppercase;
    font-family: poppinsMedium, sans-serif;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    outline: none;
}

label[for="change-outline"]:hover {
    border: 4px solid #065a56;
}

label[for="change-outline"]:active {
    box-shadow: 1px 5px 0 rgba(2, 2, 2, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

label[for="change-outline"] {
    grid-area: outline;
    appearance: none;
    background: url(../icons/outLine.png) no-repeat center, white;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ffffff;
    border: none;
}

[name="change-outline"] {
    padding: 0;
    border: none;
    visibility: hidden;
}

label[for="change-color"]:hover {
    border: 4px solid #065a56;
}

label[for="change-color"]:active {
    box-shadow: 1px 5px 0 rgba(2, 2, 2, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

label[for="change-color"] {
    grid-area: color;
    appearance: none;
    background: url(../icons/color.png) no-repeat center, white;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ffffff;
    border: none;
    outline: none;
}

[name="change-color"] {
    padding: 0;
    border: none;
    visibility: hidden;
}

/* .stickers {
    width: 445px;
    height: 70px;
    border-radius: 45px;
    background-color: #ffffff;
    margin-bottom: 20px;
} */

.socials-controller {
    gap: 1.6875rem;
}

.btn-share {
    width: 13.3125rem;
    height: 3.1875rem;
    box-shadow: 1px 6px 0 #165c9c;
    border-radius: 15px;
    background-color: #1e7cd3;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 22px;
    font-family: poppinsR;
}

.btn-download {
    width: 13.3125rem;
    height: 3.1875rem;
    box-shadow: 1px 6px 0 #632687;
    border-radius: 15px;
    background-color: #8f44bb;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 22px;
    font-family: poppinsR;
}

.socials-controller button:hover {
    border: 2px solid #2a2a2a;
    box-shadow: 1px 5px 0 #e9e9e96c, inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.socials-controller button:active {
    box-shadow: 1px 5px 0 #2a2a2a, inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

/*--------------- MEDIA QUERIES ---------------*/

@media (max-width: 1340px) {
    body {
        margin: 1rem;
    }
    .gallery-search>* {
        margin: 10px;
    }
    .main-header .main-nav {
        margin-right: 6rem;
        transition: margin-right 0.3s;
    }
}

@media (max-width: 950px) {
    .main-header .main-nav {
        margin-right: 3rem;
        transition: margin-right 0.3s;
    }
    .main-footer {
        display: none;
    }
}

@media (max-width: 813px) {
    .main-header .main-nav {
        margin-right: 5rem;
        transition: margin-right 0.3s;
    }
    .main-header .main-nav li {
        display: none;
    }
    .main-header .hamburger-menu {
        display: block;
    }
    .gallery-search {
        flex-direction: column;
    }
    .socials-controller {
        display: none;
    }
    .btn-exit-text {
        display: none;
    }
}

@media (max-width: 650px) {
    .gallery-search .search {
        width: 450px;
    }
    .gallery-search .tags {
        width: 450px;
    }
}

@media (max-width: 560px) {
    .main-header {
        padding: 0px;
    }
    .main-header .main-logo {
        margin-left: 3rem;
    }
    .main-header a {
        font-size: 18px;
    }
    .main-header .hamburger-menu {
        margin-right: 3rem;
    }
    .gallery-search {
        margin-bottom: 20px;
    }
    .gallery-search .search {
        width: 325px;
    }
    .gallery-search .tags {
        width: 325px;
    }
    .gallery-search .more {
        display: none;
    }
    .editor {
        width: 23.875rem;
        height: 23.875rem;
        border-radius: 1.875rem;
        padding: 1.5rem 2.5rem;
        background-color: rgba(235, 238, 243, 0.11);
    }
}

/* body.menu-open .main-header .main-nav {
    transform: translateX(0);
} */

/* body.menu-open .screen {
    visibility: visible;
    opacity: 1;
} */